.body {
    background-image: url(../assets/home.png);
}

.wrap {
    max-width: 1150px;
    display: flex;
    align-items: center;
}

.boss {
    display: flex;
    width: 360px;
    flex-wrap: wrap;
}

.boss__imem {
    margin: 10px;
    width: 150px;
    cursor: pointer;
}

.boss__imem-active {
    outline: 10px solid red;
    width: 100%;
}

.difficulties {
    display: none;
}

.difficulties-active {
    display: block;
}

.difficulties__item {
    border: 5px solid black;
    color: white;
    background-color: black;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
}

.difficulties__item-active {
    color: red;
}

.numberBlock {
    display: flex;
    opacity: 1;
    justify-content: center;
}

.numberBlock-active {
    opacity: 1;
}

.greenBlock__item {
    margin: 2px;
    padding: 3px;
    border-radius: 5px;
    background-color: green;
    font-size: 24px;
    color: azure;
}

.brownBlock__item {
    margin: 2px;
    padding: 3px;
    border-radius: 5px;
    background-color: brown;
    font-size: 24px;
    color: azure;
}

.blueBlock__item {
    margin: 2px;
    padding: 3px;
    border-radius: 5px;
    background-color: blue;
    font-size: 24px;
    color: azure;
}

.bossName {
    color: aliceblue;
    text-align: center;
    font-size: 18px;
}

.cardsBlock {
    margin-left: 1%;
}